<!DOCTYPE html>
<html>
	<head>
		{% block header%}
		<meta charset="UTF-8">
		<title>
			{% block title %}Maleteo
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
			<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="/assets/styles/styles.css">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/estilos.css"/>

		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
		{%endblock%}
	</head>
	<body>
		{#{% block body %}#}
		<div class="wrapper">
			<div class="container-fluid">
				<header class="header">
					<img src="assets/img/logo.svg" alt="Maleteo">
				</header>
			</div>
		</div>
		<main>
			<div class="jumbo">
				<div class="wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="jumbo__ww-title">
									<div class="jumbo__w-title">
										<h1 class="jumbo__title heading1">
											Gana dinero guardando equipaje a viajeros como tu
										</h1>
										<ul class="jumbo__app-btns">
											<li>
												<a href="#">
													<img src="assets/img/app-store.svg" alt="" class="jumbo__app-btn">
												</a>
											</li>
											<li>
												<a href="">
													<img src="assets/img/google-play.svg" alt="" class="jumbo__app-btn">
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="container-fluid">
					<section class="howworks">
						<h2 class="howworks__title heading2">
							¿Cómo funciona?
						</h2>
						<ol class="howworks__steps row">
							<li class="col-md-4">
								<div class="howworks__step">
									<div class="howworks__step-w-bola">
										<div class="howworks__step-bola">
											<span class="heading3">1</span>
										</div>
									</div>
									<div class="howworks__step-w-txt">
										<p class="howworks__step-title heading3">
											Date de alta
										</p>
										<p class="howworks__step-txt">
											Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
										</p>
									</div>
								</div>
							</li>
							<li class="col-md-4">
								<div class="howworks__step">
									<div class="howworks__step-w-bola">
										<div class="howworks__step-bola">
											<span class="heading3">1</span>
										</div>
									</div>
									<div class="howworks__step-w-txt">
										<p class="howworks__step-title heading3">
											Date de alta
										</p>
										<p class="howworks__step-txt">
											Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
										</p>
									</div>
								</div>
							</li>
							<li class="col-md-4">
								<div class="howworks__step">
									<div class="howworks__step-w-bola">
										<div class="howworks__step-bola">
											<span class="heading3">1</span>
										</div>
									</div>
									<div class="howworks__step-w-txt">
										<p class="howworks__step-title heading3">
											Date de alta
										</p>
										<p class="howworks__step-txt">
											Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
										</p>
									</div>
								</div>
							</li>
						</ol>
					</section>

					<section class="app-form">
						<div class="row">
							<div class="col-md-5">
								<div class="app-form__w-app-img">
									<img src="assets/img/iPhoneX.png" srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x" alt="" class="app-form__app-img">
								</div>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<div class="the-form">
									<form action="/maleteo/datos" method="post">
										<p class="the-form__title heading3">
											Solicita una demo
										</p>

										<div class="the-form__group">
											<label for="name">
												Nombre
											</label>
											<input type="text" id="name" name="nombre" class="the-form__input" placeholder="Vincent Chase">
										</div>

										<div class="the-form__group">
											<label for="name">
												Email
											</label>
											<input type="email" id="name" name="email" class="the-form__input" placeholder="vincent@mga.com">
										</div>

										<div class="the-form__group">
											<label for="city">
												Ciudad
											</label>
											<select id="city" name="ciudad" class="the-form__input the-form__select">
												<option value="madrid">Madrid</option>
												<option value="puerto hurraco">Puerto Hurraco</option>
												<option value="villabolluyos">Villabolluyos</option>
											</select>
										</div>

										<div class="the-form__group the-form__group_checkbox">
											<input type="checkbox" id="privacity">
											<label for="privacity">
												Aceptas la
												<a href="#">política de privacidad</a>
											</label>
										</div>

										<input type="submit" class="the-form__btn btn btn-lg btn-primary" value="Enviar">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="opinions">
						<h2 class="opinions__title heading2">
							Opiniones de otros guardianes
						</h2>
						<a href="/maleteo/opinionesForm">Nueva Opinión</a>
						<ul class="row">
							<li class="col-md-4">
								<div class="opinion">
									<blockquote class="opinion__blq simple-bubble text-large">
										Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
									</blockquote>
									<p class="opinion__author text-large">
										Sergio Garnacho
									</p>
									<p class="opinion__author-address">
										Tetuán, Madrid
									</p>
								</div>
							</li>
							<li class="col-md-4">
								<div class="opinion">
									<blockquote class="opinion__blq simple-bubble text-large">
										Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
									</blockquote>
									<p class="opinion__author text-large">
										Sergio Garnacho
									</p>
									<p class="opinion__author-address">
										Tetuán, Madrid
									</p>
								</div>
							</li>
							<li class="col-md-4">
								<div class="opinion">
									<blockquote class="opinion__blq simple-bubble text-large">
										Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
									</blockquote>
									<p class="opinion__author text-large">
										Sergio Garnacho
									</p>
									<p class="opinion__author-address">
										Tetuán, Madrid
									</p>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>


			{%block footer%}
			</main>
			<footer class="footer">
				<div class="wrapper">
					<div class="container-fluid">
						<img src="assets/img/logo.svg" alt="Maleteo" class="footer__logo">
						<p class="footer__claim">
							Hecho con ❤️en Madrid
						</p>
					</div>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
