

{% block body %}
   
    <div class="row">
        <h1>Nuevas Solicitudes</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Posicion</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
            {% for nombre in solicitud %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{nombre.nombre}}<td>
                    
                </tr>
            {% endfor %}
            
            </tbody>
        </table>

    </div>
{% endblock %}

