{% block  body %}

<div>
{{ form_start(OpinionFormulario)}}

    {#{{ form_widget(OpinionFormulario) }}#}

    {{form_row(OpinionFormulario.comentario)}}
    {{form_row(OpinionFormulario.autor, {label: 'Autor'}) }}
    {{form_row(OpinionFormulario.ciudad) }}
    {{form_row(OpinionFormulario.guardar)}}

{{ form_end(OpinionFormulario)}}


{% endblock %}