{% block body%}
<div>
	<form action="/maleteo/opinionesForm" method="post">
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre"/>
		<label for="cometario">Comentario:
		</label>
		<input type="text" id="comentario" name="comentario"/>
		<label for="ciudad">Ciudad</label>
		<input type="text" id="ciudad" name="ciudad"/>
		<input type="submit" value="Nuevo Comentario"/>
	</form>
</div>

{%endblock%}
