

{% block body%}
{%block section%}
	<div>
	<h1>Listado de Opiniones</h1>

	{% for opinion in opiniones %}

		<h3>{{opinion.comentario}}</h3>

		<h4>{{opinion.nombre}}</h4>

		<h5>{{opinion.ciudad}}</h5>

	{% endfor %}
</div>

{%endblock%}
{%endblock%}


